@import '../../../styles/public/scrollbar.scss';

.special-resources-popups-container {
  .content-actions-list {
    width: 100%;
    height: 100%;

    .actions {
      padding: 0 10px;
    }

    .list {
      height: 527px;
      overflow-y: auto;
      padding: 0 10px;
      margin: 10px 0;

      @include scrollbar(6px, #bfbfbf);

      .empty-box {
        padding-top: 80px;
        width: 100%;
      }
    }
  }
}
