.budgetorganization {
  position: relative;

  .ant-tree-title {
      width: 100%;
  }

  .ant-tree-node-content-wrapper {
      display: flex;
      align-items: center;
      height: 40px;
      line-height: 40px;
  }

  .ant-tree.ant-tree-directory,
  .ant-tree-treenode {
      height: 40px;
  }

  .ant-tree-switcher {
      line-height: 35px;
  }

  .ant-tree.ant-tree-directory .ant-tree-treenode::before {
      height: 40px;
  }

  .fd {
      display: flex;
      position: absolute;
      top: 5px;
      right: 0;
      z-index: 99;

      .iconwh {
          width: 30px;
          height: 30px;
          display: flex;
          justify-content: center;
          align-items: center;
      }

      .iconwh:hover {
          background-color: #ccc;
      }
  }

  .ant-tree.ant-tree-directory .ant-tree-treenode .ant-tree-node-content-wrapper.ant-tree-node-selected {
      color: #000;
  }

  .ant-tree.ant-tree-directory .ant-tree-treenode-selected .ant-tree-switcher {
      color: #000;
  }
}
.FieldDelete {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;

  .FieldDelete-title {
    // width: calc(100% - 30px);
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .FieldDelete-left {
    width: calc(100% - 30px);
    display: flex;
    align-items: center;

    .FieldDelete-title {
      width: auto;
    }
  }

  .ant-tag {
    margin-left: 2px;
  }

  &:hover {
    .anticon {
      opacity: 1;
    }
  }

  .anticon {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    font-size: 14px;

    &:hover {
      color: #fff;
      background: var(--theme-color-6);
    }
  }
}

.FieldDeletedefault {
  .ant-tag {
    margin-left: 2px;
  }
}
html>body .ant-tree.ant-tree-directory .ant-tree-treenode-selected:hover::before,
html>body .ant-tree.ant-tree-directory .ant-tree-treenode-selected::before {
  background: var(--theme-color-1) !important;
}

// .ant-tree.ant-tree-directory .ant-tree-treenode {
//   min-width: 100%;
//   width: min-content;
// }
.topic-layoutheader{
  .ant-upload.ant-upload-select{
    display: block;
  }
}

