.notice__list {
  max-height: 400px;
  overflow: auto;
}
.notice__list::-webkit-scrollbar {
  display: none;
}
.notice__item {
  padding-right: 24px;
  padding-left: 24px;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.3s;
}
.notice__item-title {
  margin-bottom: 8px;
  font-weight: normal;
}
.notice__item-extra {
  float: right;
  margin-top: -1.5px;
  margin-right: 0;
  font-weight: normal;
}
.notice__item-message {
  font-size: 12px;
}
.notice__item-time {
  margin-top: 10px;
  font-size: 12px;
}
.notice__item--read {
  opacity: 0.5;
}
.notice__meta {
  width: 100%;
}
