@mixin fsyh {
  --theme-color-1: var(--megenta-1);
  --theme-color-2: var(--megenta-2);
  --theme-color-3: var(--megenta-3);
  --theme-color-4: var(--megenta-4);
  --theme-color-5: var(--megenta-5);
  --theme-color-6: var(--megenta-6);
  --theme-color-6-opacity-1: var(--megenta-6-opacity-1);
  --theme-color-6-opacity-2: var(--megenta-6-opacity-2);
  --theme-color-6-opacity-005: var(--megenta-6-opacity-005);
  --theme-color-6-opacity-01: var(--megenta-6-opacity-01);
  --theme-color-6-opacity-02: var(--megenta-6-opacity-02);
  --theme-color-7: var(--megenta-7);
  --theme-color-8: var(--megenta-8);
  --theme-color-9: var(--megenta-9);
  --theme-color-10: var(--megenta-10);
}
