.display-flex {
  display: flex;
}
.flex-direction-column {
  flex-direction: column;
}
.justify-content-space-between {
  justify-content: space-between;
}
.justify-content-space-around {
  justify-content: space-around;
}
.justify-content-left {
  justify-content: left;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-right {
  justify-content: right;
}
.justify-content-start {
  justify-content: start;
}
.justify-content-end {
  justify-content: end;
}
.align-items-center {
  align-items: center;
}
.align-content-space-between {
  align-content: space-between;
}
.flex-wrap-wrap {
  flex-wrap: wrap;
}
